---

---



<div class="flex flex-col gap-8 flex-1 ">
    <h2 class="text-secundari text-xl">¿Cómo funciona?</h2>
    <h3 class="text-white text-3xl  font-bold xl:text-4xl">La manera más fácil y rápida de contratar el mejor talento humano
    </h3>
   <article class="flex gap-2 font-extrabold text-5xl text-[#ffc057]">
01.

    <div>
<h3 class="text-[#ffc057] text-xl mb-1">Cuéntanos de tu candidato:</h3>
<p class="text-white text-base font-normal">Compártenos información de tu candidato a través de nuestra plataforma. Toma menos de un minuto.</p>

    </div>

   </article>

   <article class="flex gap-2 font-extrabold text-5xl text-[#ffc057]">
    02.
    
        <div>
    <h3 class="text-[#ffc057] text-xl mb-1">Realizamos la visita:</h3>
    <p class="text-white text-base font-normal">Agendamos y recorremos la vivienda del aspirante de forma presencial o virtual en tiempo récord en todo el territorio.</p>
    
        </div>
    
       </article>







       <article class="flex gap-2 font-extrabold text-5xl text-[#ffc057]">
        03.
        
            <div>
        <h3 class="text-[#ffc057] text-xl mb-1">
          Revisa la información en tiempo real:</h3>
        <p class="text-white text-base font-normal">Obtén un informe detallado de nuestros hallazgos a través de la plataforma de información de Validate.</p>
        
            </div>
        
           </article>


    
  </div>
  